{{- if .Values.redis.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ .Values.global.namespace }}
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: {{ .Values.redis.image }}
        ports:
        - containerPort: 6379
          name: redis
        resources:
          requests:
            memory: {{ .Values.redis.resources.requests.memory | quote }}
            cpu: {{ .Values.redis.resources.requests.cpu | quote }}
          limits:
            memory: {{ .Values.redis.resources.limits.memory | quote }}
            cpu: {{ .Values.redis.resources.limits.cpu | quote }}
        livenessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 5
          periodSeconds: 5
{{- end }}
